html {
	width:100%;
	height:100%;
	overflow-x:hidden;
}
body {
	width:100%;
	height:100%;
}
.container {
	margin:0;
}
#grpList {
	height:100%;
	width:20%;
	/* background-color:red; */
	border-right:1px solid gray;
}
#msgList {
	height:100%;
	width:80%;
	/* background-color:blue; */
}
.grpSelector {
	border-bottom : 1px solid rgba(0,0,0,.25);
}
#grpInfo {
	width:100%;
	height:5%;
	border-bottom:1px solid gray;
}
#grpName {
	    text-align: center;
	    display:inline-block;
	    margin-left:23%;
}
#addGrp {
	display:inline-block;
	float:right;
	margin-top:5px;
	cursor:pointer;
}
#grpContainer {
	width:100%;
	height:95%;
}
.grpSelector {
	height:7%;
}
.grpIcon {
	margin:15%;
}
.grpPicture {
	height:100%;
}
.grpName {
	margin-top:5px;
	margin-bottom:0px;
}
.lastMsgGrp {
	display:inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
    color:rgba(153,153,153);
}
.lastMsgTime {
	display:inline-block;
	float:right;
}
#grpHeader {
	height:5%;
	border-bottom:1px solid gray;
}

.bubble {
  height: auto;
  max-width: 60%;
  background-color: #2962FF;
  color: #fff;
  margin: 5px 0;
  padding: 10px 20px;
}

.bubble:nth-child(1) {
 -webkit-border-radius: 20px 20px 20px 0;
  border-radius: 20px 20px 20px 0;
}

 .bubble:not(:first-child) {
   -webkit-border-radius: 5px 20px 20px 5px;
   border-radius: 5px 20px 20px 5px;
}

.bubble:last-child {
  -webkit-border-radius: 0 20px 20px 20px;
  border-radius: 0 20px 20px 20px;
}
.bubble:only-of-type {
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
.textMessage {
	display:inline-block;
	margin:0;
}
.textMessageTime {
	display:inline-block;
	float:right;
}

#currentGrpName {
	text-align: center;
    margin-top: 8px;
}
#grpMsgContainer {
	height: 88%;
	border-bottom:1px solid gray;
	    overflow-y: scroll;
}
#sendMsgContainer {
	height:5%;
	padding:0;
}
#msgArea {
	margin: 0;
    width: 90%;
    height: 138%;
    padding: 0;
    border-top:0;
    resize:none;
}
#sendMsg {
	top: 8px;
    right: 25px;
    cursor: pointer;
    color: #649affc7;
    position: absolute;
}
.groupBorder {
	cursor:pointer;
	border-bottom: 1px solid rgba(0,0,0,.25);
	
}
.bold {
	font-weight:bold;
}
#sendImg {
	position: relative;
    top: 8px;
    right: 83px;
    cursor: pointer;
    position: absolute;
}
.maxWidthImg {
	max-width: 567;
}
.disconnectBtn {
	    position: relative;
    top: -32px;
    right: 7px;
    cursor: pointer;
}

#okCookie{
  background-color:#F2F2F2;
  color:#333333;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:10px;
  font-family:sans-serif;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  border-top:1px solid #ccc;
  z-index:10;
}

#okCookie p{margin:0 0 10px 0; float:left; padding:5px 0px;}

#okCookie #okClose, #okCookie #okCprivacy{
  padding:5px 20px;
  float:right;
  margin-left:10px;
  text-decoration:none;
  border-radius:3px;
  color:white;
}

#okCookie #okClose{
  background-color:#39B54A;
  text-shadow:0px 1px 1px #507F2B;
  box-shadow:inset 0px -1px 1px #507F2B;
}

#okCookie #okClose:hover{background-color:#42ce55}

#okCookie #okCprivacy{
  background-color:#8D9499;
  text-shadow:0px 1px 1px #63666B;
  box-shadow:inset 0px -1px 1px #63666B;
}

#okCookie #okCprivacy:hover{background-color:#a0a8ae}

.okcBeginAnimate{
    -webkit-animation: myfirst 2s; 
    animation: myfirst 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes myfirst {
    from {opacity: 0;}
    to {opacity: 1;}
} 
